@model IEnumerable<ModelLayer.ModelView.UrunLinkModel>



 <div id="mesajlar" class="mesajlar"  >
      @{Html.RenderPartial("Mesajlar");}
 </div>
        <span class="title-1" >@ViewBag.Title</span>
        <div class="bannerLine" > </div>
     
        <div class="line urunler-1" style="" >

        <ul class="urunList">
          @foreach (var item in Model) {
            <li>
            <span>@Html.Raw(BusinessLayer.KategoriServis.UrunTree(item.Serial, item.UrunLink))</span><a href="@Href(item.Link)" >@item.IcBaslik</a>
            </li>
          }
         </ul>
        </div>
        <div class="line urunler-2">
        <div class="productContent" > 
         @Html.Raw(ViewBag.Icerik)
         </div>

         @foreach (var item in Model) {

             if (item.Serial.Length > 4)
             {
              <div class="productTitile" ><h2><a href="@Href(item.Link)" >@item.IcBaslik</a></h2></div>
              Html.RenderAction("ProductMainPage", "Product", new { culture = item.Dil, icBaslikId = item.KatId });
             }
         }
       </div>
       <div class="clear" >  </div>











