
@{
     if (TempData["Successful"] != null)
     {
      <div class="mesaj success" >
          <div  class="close">
          <img src="@Url.Content("~/Areas/Admin/Content/images/yes_no.gif")" alt="Mesaji Kapat" />
          </div>
          <span>@Html.Raw(TempData["Successful"].ToString())</span>
      </div> 
     }

     if (TempData["Info"] != null)
     {
      <div class="mesaj info" >
      <div  class="close" >
      <img src="@Url.Content("~/Areas/Admin/Content/images/info_no.jpg")" alt="Mesaji Kapat" />
      </div>
      <span>@Html.Raw(TempData["Info"].ToString())</span>
     </div>
     }    

     if (TempData["Alert"] != null)
     {
      <div class="mesaj alert">
      <div class="close" >
      <img  src="@Url.Content("~/Areas/Admin/Content/images/no.jpg")" alt="Mesaji Kapat" />
      </div>
      <span>@Html.Raw(TempData["Alert"].ToString())</span>
      </div>
     }
          
     if (TempData["Error"] != null)
     {
      <div class="mesaj error" >
     <div  class="close">
     <img src="@Url.Content("~/Areas/Admin/Content/images/sis_no.gif")" alt="Mesaji Kapat" />
     </div>
     <span> @Html.Raw(TempData["Error"].ToString())</span>
     </div> 
     }     
}
 

	