@model ModelLayer.Resim

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


<div class="content-box"><!-- Start Content Box -->
     <div class="content-box-header">
				<h3 style="cursor: s-resize;">Banner Kaydet</h3>
	 <div class="clear"></div>
	 </div> <!-- End .content-box-header -->
	 <div style="display: block;" class="content-box-content">
	 <div style="display: block;" class="tab-content default-tab" id="tab1">

      <div class="linkZemin" >
          <a href='@Url.Action("Index","Banner")' class="button" >Bannerlar</a>
      </div>

@using (Html.BeginForm("Edit", "Banner", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
        <p>
            @Html.LabelFor(x => x.Baslik)
            @Html.TextBoxFor(x => x.Baslik, new { @Class = "text", @Style = "width:400px" })
            @Html.ValidationMessageFor(x => x.Baslik)
        </p>
        <p>
            @Html.LabelFor(x => x.Dil)
            @Html.DropDownListFor(x => x.Dil,
                            new SelectList(ViewBag.SiteDil, "Kodu", "Adi"),
                            new { @class = "text", @style = "width:200px;" })
            @Html.ValidationMessageFor(x => x.Dil)
        </p>
    
          <p>
          @{
             Dictionary<string, object> bolge = new Dictionary<string, object>();

             bolge.Add("Banner", "Banner");
             bolge.Add("Marka", "Marka");
            }


            @Html.LabelFor(x => x.Parametre)
            @Html.DropDownListFor(x => x.Parametre,
                   new SelectList(bolge, "Value", "Value"),
                            new { @class = "text", @style = "width:200px;" })
            @Html.ValidationMessageFor(x => x.Parametre)
        </p>
        <p>
            @Html.LabelFor(x => x.Sira)
            @Html.TextBoxFor(x => x.Sira, new { @Class = "text", @Style = "width:200px" })
            @Html.ValidationMessageFor(model => model.Sira)
        </p>
        <p>
            @Html.LabelFor(x => x.Adi)
            <input type="file" name="Adi" id="Adi" />
            <img src="@Url.Content("~/Content/Products/Sayfa/" + Model.Adi)" width="100px" />

            <input type="hidden" name="resimAdi" id="resimAdi" value="@Model.Adi" />

        </p>
        <p>
           @Html.LabelFor(x => x.Durum)
           @Html.CheckBoxFor(x => x.Durum)
           @Html.ValidationMessageFor(x => x.Durum)

           

        </p>
        <p>
            <input type="submit" value="Kaydet" class="button" />
        </p>
}

      <div style="clear:both;"> </div>
	  </div> <!-- End #tab1 -->
     </div> <!-- End .content-box-content -->
</div>