@model ModelLayer.SiteIletisim

@Content.Script("jquery.validate.min.js",Url)
@Content.Script("jquery.validate.unobtrusive.min.js",Url)


  <div class="content-box"><!-- Start Content Box -->
     <div class="content-box-header">
					<h3 style="cursor: s-resize;">Site iletişim bilgileri</h3>
	 <div class="clear"></div>
	 </div> <!-- End .content-box-header -->
	 <div style="display: block;" class="content-box-content">
	 <div style="display: block;" class="tab-content default-tab" id="tab1">


@using (Ajax.BeginForm("SiteIletisimKaydet", "Ayarlar", new AjaxOptions
{ 
              HttpMethod = "GET",
              InsertionMode = InsertionMode.Replace,
              UpdateTargetId = "mesajlar"
             }))
  {
    @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.FimaAdi)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FimaAdi, new { @class = "text small" })
            @Html.ValidationMessageFor(model => model.FimaAdi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telefon)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Telefon, new { @class = "text small" })
            @Html.ValidationMessageFor(model => model.Telefon)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Faks)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Faks, new { @class = "text small" })
            @Html.ValidationMessageFor(model => model.Faks)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VergiDairesi)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.VergiDairesi, new { @class = "text small" })
            @Html.ValidationMessageFor(model => model.VergiDairesi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VergiNo)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.VergiNo, new { @class = "text small" })
            @Html.ValidationMessageFor(model => model.VergiNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mail)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Mail, new { @class = "text small" })
            @Html.ValidationMessageFor(model => model.Mail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Adres)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Adres,  new { @class = "text textarea" })
            @Html.ValidationMessageFor(model => model.Adres)
        </div>

        <p>
            <input type="submit" value="Değişiklikleri Kaydet" class="button" />
        </p>
}
            <div style="clear:both;"> </div>
			</div> <!-- End #tab1 -->
			</div> <!-- End .content-box-content -->
	  </div>
