@model IEnumerable<ModelLayer.HataMesaji>

  @using MicroOptik.WebUI.HtmlHelpers
   
   
  @helper AlternateBackground(string color)
  {
        if (ViewBag.count == null) { ViewBag.count = 0; }
    <text>style="background-color:@(ViewBag.count % 2 == 1 ? color : "none")"</text>
        ViewBag.count++;
  }

   @* @section Scripts{
        
   }*@

     <div class="content-box"><!-- Start Content Box -->
     <div class="content-box-header">
					<h3 style="cursor: s-resize;">Site iletişim bilgileri</h3>
	 <div class="clear"></div>
	 </div> <!-- End .content-box-header -->
	 <div style="display: block;" class="content-box-content">
	 <div style="display: block;" class="tab-content default-tab" id="tab1">

     <div class="linkZemin" >
     
        @Ajax.ActionLink("Hata Mesajlarını Sil", "Delete", "Hatalar",
                        new AjaxOptions
                        {
                            UpdateTargetId = "icerik",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET",
                            LoadingElementId = "progress"
                        } ,
                    new { @Class = "button" })

     </div>

    <table style="width:100%" >
    <tr class="HeaderStyle" >
        <th style="width:200px">Baslik</th>
        <th style="width:350px">Mesaj</th>
        <th style="width:80px">Hata</th>
        <th style="width:150px">Tarih</th>
    </tr>

@foreach (var item in Model)
{
    <tr class="RowStyle" @AlternateBackground("#f3f3f3") >
        <td>
            @item.Baslik
        </td>
        <td>
          @Html.Raw(item.Mesaj)
        </td>
        <td>
            @item.Toplam
        </td>
        <td>
          @BusinessLayer.DateFormat.DateTimeSecond(item.Tarih)
        </td>
    </tr>
}
</table>


    <div class="pagination">
       @Ajax.Sayfalama((int)Ajax.ViewData["SayfaNo"],
                             (int)Ajax.ViewData["ToplamKayit"],
                             "HataMesajlari", (int)Ajax.ViewData["sayfaGosterim"])
     </div> 

    <div style="clear:both;"> </div>
	</div> <!-- End #tab1 -->
	</div> <!-- End .content-box-content -->
</div>
     