@model IEnumerable<ModelLayer.Duyuru>

@using BusinessLayer;

 <div id="duyuru" >
      <span class="title-2" > @Resources.Strings.lblHaber </span>

         <marquee  direction="up" height="200" scrollamount="2" scrolldelay="50" onMouseOver="this.stop();" onmouseout="this.start();">

       @foreach (var duyuru in Model)
        {
        <div class="duyuruIcerik">
            <span class="title-3" >@duyuru.Baslik</span>
            <p>@Html.Raw(duyuru.Icerik)</p>
            <div>
            <a href="@Url.Content("~/" + duyuru.Dil + "/Duyurular?Id=" + duyuru.Id )" >
            @Resources.Strings.Devam
            </a>
            </div>
        </div>
        }
        
        </marquee>
        
  </div>

