@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

 <div class="content-box"><!-- Start Content Box -->
		    <div class="content-box-header">
					<h3 style="cursor: s-resize;">Admin</h3>
					<div class="clear"></div>
			</div> <!-- End .content-box-header -->
			<div style="display: block;" class="content-box-content">
		    <div style="display: block;" class="tab-content default-tab" id="tab1">

        <div class="panelMenu">
        <div class="menuBaslik"><h5>İçerik Yönetimi</h5></div>
           <ul  class="panel_Menu_Link">
			    <li><a href="@Url.Action("Create", "IcerikBaslik")">Yeni Sayfa Oluştur</a></li>
                <li><a href="@Url.Action("Index", "IcerikBaslik", new {dil="tr" })">Sayfalar</a></li>
				<li><a href="@Url.Action("Index","Banner")" >Bannerlar</a></li> 
			</ul>
        </div>
        <div class="panelMenu">
        <div class="menuBaslik"><h5>Kullanıcı İşlemleri</h5></div>
            <ul class="panel_Menu_Link" >
			     <li>
                         @Ajax.ActionLink("Yöneticiler", "Index", "Kullanici", 
                            new AjaxOptions { 
                                UpdateTargetId = "icerik",
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "GET",
                                LoadingElementId = "progress"
                            })
                 </li>
		    </ul>
        </div>
         <div class="panelMenu">
        <div class="menuBaslik"><h5>Ayarlar</h5></div>
             <ul class="panel_Menu_Link" >
				 <li><a href='@Url.Action("Index","SiteDil")' >Site Dilleri</a></li>
                        <li>
                        @Ajax.ActionLink("Genel Ayarlar","SiteIletisim", "Ayarlar", 
                            new AjaxOptions { 
                                UpdateTargetId = "icerik",
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "GET",
                                LoadingElementId = "progress"
                            })
                        </li>
                            <li>
                        @Ajax.ActionLink("Mail Bilgileri", "MailSMTPClint", "Ayarlar", 
                            new AjaxOptions { 
                                UpdateTargetId = "icerik",
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "GET",
                                LoadingElementId = "progress"
                            })
                        </li>
                        <li>
                        
                        @Ajax.ActionLink("Hata Mesajları", "HataMesajlari", "Hatalar",
                        new AjaxOptions { 
                            UpdateTargetId = "icerik",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET",
                            LoadingElementId = "progress"
                        })

                        </li>
			</ul>
        </div>
           <div class="panelMenu">
        <div class="menuBaslik"><h5>Duyurular</h5></div>
           <ul class="panel_Menu_Link" >
			  <li> <a href='@Url.Action("Duyurular", "Duyuru")'  class="nav-top-item no-submenu" >Duyurular</a></li>
		   </ul>
        </div>
        <div style="clear:both;"> </div>
			</div> <!-- End #tab1 -->
			</div> <!-- End .content-box-content -->
	  </div>

