<!DOCTYPE html>
@using MicroOptik.WebUI.Content.HtmlHelpers;
@using MicroOptik.WebUI.Infrastructure;

<html>
<head>
 <title>@ViewBag.Title</title>
 <meta name="description" content="@ViewBag.Description" />
 <meta name="keywords" content="@ViewBag.Keywords" />
 <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-9" />
 <meta http-equiv="Content-Language" content="tr" />
 <meta name="Author" content="Ahmet ESMER : ahmetesmer@windowslive.com" />
 <meta name="copyright" content="Ruhun Gemisi Reklam Tanýtým Halkla Ýliþkiler Ajansý" />
 <link rel="shortcut icon" href="http://www.lensoptik.com.tr/Images/icons/mikro.ico"/>

 @Content.Style("LayoutStyle.css", Url)
 @Content.Style("BannerStyle.css", Url)
 @Content.Script("jquery-1.4.4.min.js", Url)
 @Content.Script("jquery-ui-1.8.13.custom.min.js", Url)
 @Content.Script("jquery.easing.js", Url)
 @Content.Script("script.js", Url)
 @Content.Script("Main.js", Url)
 @RenderSection("Head", false)
</head>
<body>
  <div id="anaDiv" >
            <div class="line ust-1"> 
                <a href="@Url.Action("Index","Home")" title="Mikro Optik" >
                   <img src="@Url.Content("~/Content/Images/MikroOptikLogo.jpg")" alt="Mikro optik Logo" border="0" />
                </a>
            </div>
            <div class="line ust-2">
             <div id="ustMenu">
               @{ Html.RenderAction("TopMenuLinks", "Include"); }
              </div>
              <div id="dilMenu">
               @{ Html.RenderAction("LanguageLinks", "Include"); }   
              </div>
            </div>

            <div class="clear"></div>
        
            <div id="icerik" >
                @RenderBody()
            </div>

            <div id="altLink"  >
              <div class="line altLink-1" > 
                    <ul>
                        <li>
                         <a href="http://www.ruhungemisi.com.tr" 
                         class="link" title="Tasarým ve Proðramlama Ruhun Gemisi Reklam Ajansý" target="_blank" >
                         Designed By  ruhungemisi.com.tr
                        </a>
                        </li>
                    </ul> 
               </div>
                  <div class="line altLink-2"   > 
                     <ul>
                        <li><a> Copyright 2012 © Mikro Optik Ltd. Þti.</a></li>
                    </ul> 
               </div
            </div>
  </div>
</body>
</html>
